<ion-view title="Cadastro">
  <!-- <ion-nav-buttons side="right">
    <button class="button button-clear icon ion-ios-plus-empty" ng-click="add()"></button>
</ion-nav-buttons>   -->

   <ion-content>
          <form ng-submit="cadastrar(user)" name="form"> 

        <label class="item item-input item-stacked-label">
    <span class="input-label">E-mail</span>
    <input type="email" ng-model="user.email" required >
        </label>

        <label class="item item-input item-stacked-label">
    <span class="input-label">Senha</span>
    <input type="password" ng-minlength="6" ng-model="user.password" required >
        </label>

      
        <button ng-disabled="form.$invalid" class="button button-positive button-full">
            Cadastrar
        </button>
        
           </form>



     

      </ion-content>
</ion-view>