<ion-view title="Recuperar Senha">
<!-- <ion-nav-buttons side="right">
    <button class="button button-clear icon ion-ios-plus-empty" ng-click="add()"></button>
</ion-nav-buttons> -->

   <ion-content>
        <div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Informe seu email</span>
    <input type="text" placeholder="">
  </label>
  
<button class="button button-block button-positive">
  Enviar
</button>


</div>

    
      </ion-content>
</ion-view>