<ion-view title="PetHome">


   <ion-content>


<div class="list">

  <!-- <a class="item item-icon-left" href="#" ng-click="servicos()">
    <i class="icon ion-ios-paw"></i>
    Serviços
  </a>

  <button class="button button-full button-light" ng-click="servicos()">
  Servicos
</button>

> -->

<div class="item item-icon-left"  ng-click="servicos()">
    <i class="icon ion-ios-paw"></i>
      Serviços
  </div> 

  <div class="item item-icon-left" ng-click="cadpet()">
    <i class="icon ion-ios-paw"></i>
        Cadastrar Pet
  </div>

  <div class="item item-icon-left" ng-click="meupet()">
    <i class="icon ion-ios-paw"></i>
        Meus Pets
  </div>
</div>




   
      </ion-content>
</ion-view>