<ion-view title="PetHome">


   <ion-content>

 <div class="item item-icon-left" ng-click="banhotosa()">
    <i class="icon ion-ios-paw"></i>
        Banho de Tosa
  </div>

  <a class="item item-icon-left" href="#" ng-click="banhotosa()">
    <i class="icon ion-ios-paw"></i>
        Hotel
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-ios-paw"></i>
        Adestramento
  </a>

  <div class="item item-icon-left" href="#" ng-click="vet()">
    <i class="icon ion-ios-paw"></i>
        Veterinario
  </div>


    
      </ion-content>
</ion-view>